.card {
  box-shadow: 1px 1px 5px grey;
  padding: 5px;
  border-radius: 12px;
  line-height: 0.3;
  font-size: 16px;
  margin: 20px;
}

.image {
  border-radius: 12px;
}

.title {
  font-weight: 700;
  font-size: inherit;
  color: rgb(12, 12, 49);
}

.subtitle {
  color: rgb(172, 166, 166);
  font-size: inherit;
}

.price-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 16px;
  margin: 0 5px;
}

.align-right {
  text-align: end;
}