.card {
  box-shadow: 1px 1px 5px grey;
  padding: 5px;
  border-radius: 12px;
  line-height: 0.3;
  font-size: 16px;
  margin: 20px 40px 20px 0;
}

.image {
  border-radius: 12px;
}

.title {
  font-weight: 700;
  font-size: inherit;
  color: rgb(12, 12, 49);
}

.subtitle {
  color: rgb(172, 166, 166);
  font-size: inherit;
}

.price-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 16px;
  margin: 0 5px;
}

.align-right {
  text-align: end;
}

.sidebar {
  background-color: rgb(14, 14, 76);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  color: white;
}

.sidebar li {
  padding: 16px 5px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  border-bottom: 1px solid rgb(12, 12, 49);
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  padding: 0 20px 0 0;
}

.navigation a:hover {
  background-color: lightgray;
}

.navigation a {
  color: rgb(12, 12, 49);
  font-weight: 700;
  padding: 12px 16px;
  border-radius: 12px;
}